* {
  box-sizing: border-box;
}

#app {
  font-size: 5em;
  text-align: center;
  height: 100vh;
}

#header {
  background-color: #f3ca40;
  height: 20vh;
  width: 100vw;
}

#middle {
  height: 60vh;
  width: 100vw;
}

#main {
  display: flex;
  height: 50vh;
  width: 100%;
}

#nav {
  /* height: 55vh; */
  /* display: flex; */
  /* flex-direction: column; */
  width: 40%;
  background-color: #4b4e6d;
}

#articles {
  /* display: flex; */
  /* flex-direction: column; */
  width:100vw;
/* align-items: flex-start; */
  background-color: #6a8d92;
}

#ads {
  height: 20vh;
  width: 100vw;
  background-color: #f2a541;
}

#footer {
  height: 20vh;
  width: 100vw;
  background-color: #f08a4b;
}
